@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  color: #3f66dd;
  text-decoration: underline #3f66dd;
}
html {
  height: -webkit-fill-available;
}
body {
  height: -webkit-fill-available;
}
